html,ul,li,body,p,span,div,figure,figcaption,img{margin:0;padding:0}

*, *:after, *:before { box-sizing: border-box; }

.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }


body {
  	// background: #2f3238;
  	background: #000;
  	color: #01A89E;
  	font-weight: 400;
  	font-size: 1em;
  	font-family: 'Raleway', Arial, sans-serif;
    // font-family: 'Lobster', cursive;
    // font-family: 'Bree Serif', serif;
    // font-family: 'Pacifico', cursive;
    // font-family: 'Bangers', cursive;
    // font-family: 'Dancing Script', cursive;
    // font-family: 'Patua One', cursive;
    // font-family: 'Courgette', cursive;
    // font-family: 'Playball', cursive;
    // font-family: 'Neuton', serif;
  }
