
#content{
  display: table;
  width: 100%;
  height: 100vh
}
.work{

  display: table;
  width: 100%;
  height: 100vh
}
.tecno-usadas{
  background: #444
}



#trabajos{
	color:#fff;
	width: 100%;
  height: 100%;
	position: absolute;
	width: 100%;
	transform: translateX(-100%);
	-webkit-transition-property: transform,opacity;
    -webkit-transition-duration: 1s,500ms;
    -webkit-transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

.ocultar{ display:none }

.animarContent{
	transform: translateX(100%)  !important;
}

.animarTrabajos{
	transform: translateX(0)  !important;
}

.animarTitulo{
	transform: translateY(20px)  !important;
	opacity: 1 !important;
	-webkit-transition-property: transform,opacity;
    -webkit-transition-duration: 1s,500ms;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-delay: 1s;
}

.animarSubtitulo{
	transform: translateY(20px)  !important;
	opacity: 1 !important;
	-webkit-transition-property: transform,opacity;
    -webkit-transition-duration: 1s,500ms;
    -webkit-transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
    -webkit-transition-delay: 1.2s;
}

.animarItem{
	transform: translateY(-20px)  !important;
	opacity: 1 !important;
	-webkit-transition-property: transform,opacity;
    -webkit-transition-duration: 1s,500ms;
    -webkit-transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

.animarItemTrabajos{
	transform: scale(1) !important;
	opacity: 1 !important;
	-webkit-transition-property: transform,opacity;
    -webkit-transition-duration: 1s,500ms;
    -webkit-transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

.trabajos{
	opacity: 0;	-webkit-transition-delay: 2s;
	transform:scale(0.5);
	color:#fff;
	font-size:45px;
	text-align: center;
	  width: 45px;
  margin: 15px auto;
}

.trabajos span{
	color: #663A00;
}
.trabajos span:hover{
	color: rgba(169, 96, 0, 1);
	cursor: pointer;
}

.linkedin{ opacity: 0; -webkit-transition-delay: 3s; }
.github{ opacity: 0; -webkit-transition-delay: 3.2s; }
.codepen{ opacity: 0; -webkit-transition-delay: 3.4s; }
.wordpress{ opacity: 0;	-webkit-transition-delay: 3.6s; }


#titulo {
	transform: translateY(-20px);
	font-family: 'Bitter', serif;
	font-size: 80px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: 1em;
	color: #01A89E;
	opacity: 0;
}

.menu{
	padding:35px 0 0 0;
	width: 100%;
	text-align: center;
}
.menu li{
	color:#fff;
	display:inline-block;
	padding:10px;
	font-size:40px;

}
.menu li:hover{  cursor: pointer;}

#subtitulo{
	opacity:0;
	font-family: 'Kaushan Script', cursive;
	color:#01A89E;text-align:center;margin-top:-100px;margin-bottom: 80px;
}



.github:hover{color:#4183c4;}
.linkedin:hover{color:#0077B5;}
.linkedin:hover:before{
	content: "";
	background: white;
	display: block;
	width: 28px;
	height: 25px;
	position: absolute;
	margin: 9px 0 0 5px;
}
.codepen:hover{color:#717171;}

.wordpress:hover{color:#0085be;}
.wordpress:hover:before{
	content: "";
	background: white;
	display: block;
	width: 40px;
	border-radius: 20px;
	height: 37px;
	position: absolute;
	margin: 4px 0 0 0px;
}


.tooltip span:hover:before{
  content: attr(data-title);
  color: #009B92;
  font-family: 'Kaushan Script', cursive;
  font-weight: bold;
  font-size: 18px;
  background: white;

  width: 80px;
  height: 28px;
  position: absolute;
  margin: 50px -20px;
  border-radius: 10px;
  border: 2px solid #009B92;

}


a{color: inherit;}


/* ********************************************************* */
/* Media Query 												 */
/* ********************************************************* */
@media (max-width: 600px) {
	.menu {
	  text-align: center;
	  margin: 0 auto;

	  width: 80%;
	}
	#subtitulo {

	  margin-top: 0;
	  margin-bottom:50px;

	}
	#titulo {
		font-size:50px;
	   padding: 20px;

	}

}

.flex-container {
	  margin: 80px 0;
  padding: 0;

  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
		-webkit-transition-property: transform,opacity;
    -webkit-transition-duration: 300ms,500ms;
    -webkit-transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);

   background: #444;
  padding: 5px;
  width: 450px;
  height: 250px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  border: 5px solid;
}
.flex-item:hover {
	cursor: pointer;
	transform: scale(0.9);
}
